/************ Banner Css ************/
.banner {
    margin-top: 0;
    padding: 80px 0 100px 0;
    background-image: url("@/assets/img/banner.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner .wrap {
    border-right: 0.08em solid #666;
}

.banner-img {
    animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
