.ResizableHandleVertical {
    transition: 250ms linear;
    background-color: #b8b8b8;
    outline: none;
    width: 2px;
    &:hover,
    &:focus {
        width: 4px;
    }
}
.ResizableHandleHorizontal {
    transition: 250ms linear;
    background-color: #b8b8b8;
    outline: none;
    height: 2px;
    &:hover,
    &:focus {
        height: 4px;
    }
}
