.editor-container {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.editor-title {
    font-size: small;
    text-align: center;
    background-color: hsl(225, 6%, 25%);
    color: white;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}

.CodeMirror {
    height: 100% !important;
}

.cm-gutters {
    padding-left: 8px;
}

.code-mirror-wrapper {
    font-size: small;
    flex-grow: 1;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    overflow: hidden;
}

/* to add a divider in mui grid components */
.MuiGrid-container > .MuiDivider-vertical.MuiDivider-flexItem {
    margin-right: -1px;
}
