.CodeMirror {
    height: 100% !important;
}

.cm-gutters {
    padding-left: 8px;
}

/* to add a divider in mui grid components */
.MuiGrid-container > .MuiDivider-vertical.MuiDivider-flexItem {
    margin-right: -1px;
}
